#Rutas de las guias
/ciclo_2/01_retos/reto_5/reto_5/dist/
/ciclo_2/01_retos/reto_5/Reto 5 (Modularizado)/build/
/ciclo_2/01_retos/reto_5/Reto 5 (Modularizado)/nbproject/private/
/ciclo_2/01_retos/reto_5/Reto 5 (Modularizado)/dist/
/ciclo_2/01_retos/reto_5/pruebareportes/build/
/ciclo_2/01_retos/reto_5/pruebareportes/nbproject/private/
/ciclo_2/01_retos/reto_5 Finalizado/Reto5/dist/
/ciclo_2/01_retos/reto_5 Finalizado/Reto5/build/
/ciclo_2/01_retos/reto_5 Finalizado/Reto5/nbproject/private/
